div(class='container')
  footer
    span.
      This voting app is built by #[a(href='http://freecodecamp.com/tgallin') @tgallin] of freecodecamp,
    br
    span.
      following the instructions of  #[a(href='http://freecodecamp.com/challenges/basejump-build-a-voting-app' target='_blank') "Basejump: Build a Voting App | Free Code Camp"].
    br
    span.
      Github repository: #[a(href='https://github.com/tgallin/voting-app') tgallin/voting-app]
script(src='/public/js/jquery.min.js')
script(src='/public/js/bootstrap.min.js')