head
  meta(charset='utf-8')
  title= title
  link(rel='stylesheet' href='/public/css/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='/public/css/main.css' type='text/css')
  link(rel='stylesheet' href='/public/css/font-awesome.min.css' type='text/css')