nav(class='navbar navbar-inverse navbar-fixed-top')
  div(class='container')
    div(class='navbar-header')
      button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand' href='/') Voting App
    div(id='navbar' class='navbar-collapse collapse')
      if loggedIn
        form(action='/logout' class='navbar-form navbar-right')
          button(type='submit' class='btn btn-danger') Logout
      else
        form(action='/login' class='navbar-form navbar-right')
          button(type='submit' class='btn btn-success') Login